.hero {
  margin: 135px auto 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.hero-text {
  font-size: 4rem;
  font-weight: 800;
  text-align: left;
  color: rgb(249, 243, 247);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-width: 90%;
}

.hero-explore {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  margin-top: 20px;
  padding: 6px 15px;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}

.hero-explore:hover {
  background-color: #F3732F;
}

.hero-explore p {
  color: #292929;
  font-size: 18px;
  font-weight: 500;
}

.hero-dot-play {
  margin-top: 10px;
  margin-left: 550px;
  display: flex;
  justify-content: space-between;
}

.hero-dot {
  display: flex;
  align-items: center;
  list-style: none;
  width: 15px;
  height: 15px;
  background: #FFF;
  border-radius: 50%;
  cursor: pointer;
}

.class-dots {
  display: flex;
  gap: 10px;
  margin-top: 185px;
  justify-content: center;
}

.hero-dot.orange {
  background: #f56213;
  margin-bottom: 25px;
}

.hero-play {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  color: #fff;
  margin-left: 330px;
}

/* Tablet Styles */
@media (max-width: 1024px) {
  .hero {
    margin-top: 100px;
    padding: 0 30px;
    background-color: #2fc5f3;
  }

  .hero-text {
    font-size: 3rem;
    margin-top: 400px;
  }

  .hero-explore p {
    font-size: 16px;
  }

  .hero-dot-play {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 0;
  }

  .class-dots {
    margin-top: 80px;
  }

  .hero-dot {
    width: 12px;
    height: 12px;
  }

  .hero-play {
    gap: 20px;
    margin-left: 0;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hero {
    margin-top: 80px;
    padding: 0 20px;
    background-color: #2fc5f3;
  }

  .hero-text {
    margin-top: 400px;
    font-size: 2.2rem;
    
  }

  .hero-explore {
    padding: 5px 18px;
    gap: 10px;
  }

  .hero-explore p {
    font-size: 13px;
  }

  .hero-dot-play {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .class-dots {
    flex-direction: row;
    margin-top: 60px;
  }

  .hero-dot {
    width: 10px;
    height: 10px;
  }

  .hero-play {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    margin-left: 0;
  }

  .hero-play img {
    width: 24px;
    height: 24px;
  }
}
