.hero {
  margin: 0px 120px;
  margin-top: 180px;
}

.hero-text {
  font-size: 5rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  max-width: 90%;
}

.hero-explore {
  display: flex;
  align-items: center;
  gap: 17px;
  width: fit-content;
  margin-top: 20px;
  padding: 5px 8px;
  padding-left: 30px;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}

.hero-explore:hover {
  background-color: #F3732F;
}

.hero-explore p {
  color: #292929;
  font-size: 20px;
  font-weight: 500;
}

.hero-dot-play {
  margin-top: 120px;
  display: flex;
  margin-left: 335px;
}

.hero-dot {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  width: 15px;
  height: 15px;
  background: #FFF;
  border-radius: 7.5px;
  cursor: pointer;
}

.class-dots {
  display: flex;
  gap: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  justify-content: center;
}

.hero-dot.orange {
  background: #f56213;
  margin-bottom: 25px;
}

.hero-play {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 27px;
  color: #fff;
}


@media (max-width: 1400px) {
  .hero {
    margin: 0px 60px;
    margin-top: 170px;
    background-color: rgb(7, 156, 248);
  }

  .hero-text {
    font-size: 3.5rem;
    margin-top: 100px;
  }

  .hero-explore p {
    font-size: 18px;
  }

  .class-dots {
    margin-top: 100px;
  }

  .hero-dot-play {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .hero-play {
    gap: 20px;
  }

  .hero-dot {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin: 0px 20px;
    margin-top: 170px;
    background-color: rgb(7, 156, 248);
  }

  .hero-text {
    font-size: 2.5rem;
    margin-top: 60px;
  }

  .hero-explore {
    padding: 5px 15px;
    gap: 10px;
  }

  .hero-explore p {
    font-size: 14px;
  }

  .hero-dot-play {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .class-dots {
    flex-direction: row;
    margin-top: 60px;
    justify-content: center;
  }

  .hero-dot {
    width: 10px;
    height: 10px;
  }

  .hero-play {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 20px;
  }

  .hero-play img {
    width: 24px;
    height: 24px;
  }
}