.background{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
    filter: brightness(50%);
}

    